{% extends "layout.html" %}
{% block body %}

<h3>You can add books that you read to your book list.</h3>

<hr>
<a href="/addbook" class="btn btn-primary">Add Book</a>
<hr>

{% if books %}
<table class="table table-hover table-primary">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Book Name</th>
        <th scope="col">Author</th>
      <th scope="col">Content</th>
       <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %} 
    <tr>
      <th scope="row">{{book.id}}</th>
      <td><a href="/book/{{book.id}}">{{book.book_name}}</td>
      <td>{{book.author}}</td>
      <td><a href="/edit/{{book.id}}" class="btn btn-light">Update</a> </td>
      <td><a href="/delete/{{book.id}}" class="btn btn-light">Delete</a> </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger"> Yo have not read any book yet.</div>
{% endif %}
{% endblock %}
